.done {
  color: #00CCCC;
}

.item {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: #131316;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price_wrapper {
  display: flex;
  align-items: center;
}

.tech_info {
  display: flex;
  justify-content: space-between;
}

.order_info {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list_item:first-child {
  z-index: 6;
}

.list_item:nth-child(2) {
  z-index: 5;
  position: relative;
  left: -16px;
}

.list_item:nth-child(3) {
  z-index: 4;
  position: relative;
  left: -32px;
}

.list_item:nth-child(4) {
  z-index: 3;
  position: relative;
  left: -48px
}

.list_item:nth-child(5) {
  z-index: 2;
  position: relative;
  left: -64px
}

.list_item:nth-child(6) {
  z-index: 1;
  position: relative;
  left: -80px;
}

.back {
  background: #1C1C21;
  opacity: 0.6;
  z-index: 2;
}

.order_wrapper {
  display: grid;
  row-gap: 24px;
  background: #1C1C21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;

}

.moreThanSix {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}