.title {
  text-align: left;
  color: #F2F2F3;
}

.name {
  margin: 0;
  height: 48px;
  text-align: center;
  color: #F2F2F3;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  cursor: grab;
}

.card:hover {
  opacity: 0.5;
}

.price {
  display: flex;
  align-items: center;
  color: #F2F2F3;
}

.price svg {
  margin-left: 8px;
}