/*OrderElement*/
.done_qty {
  color: #F2F2F3;
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.back {
  background: #1C1C21;
  opacity: 0.6;
  z-index: 2;
}

.price_container {
  display: flex;
  align-items: center;
}

.add_qty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.items {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list_item:first-child {
  z-index: 6;
}

.list_item:nth-child(2) {
  z-index: 5;
  position: relative;
  left: -16px;
}

.list_item:nth-child(3) {
  z-index: 4;
  position: relative;
  left: -32px;
}

.list_item:nth-child(4) {
  z-index: 3;
  position: relative;
  left: -48px
}

.list_item:nth-child(5) {
  z-index: 2;
  position: relative;
  left: -64px
}

.list_item:nth-child(6) {
  z-index: 1;
  position: relative;
  left: -80px;
}

.technical_info {
  display: flex;
  justify-content: space-between;
}

.order_container {
  display: grid;
  row-gap: 24px;
  background: #1C1C21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

/*Orders*/
.link {
  color: white;
  text-decoration: none;
}

/*ingredient*/
.border {
  border-radius: 100px;
  background: linear-gradient(to right, rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
  padding: 2px;
}

.item {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: #131316;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.done {
  color: #00CCCC;
}

/*OrderStatus*/
.status_container {
  margin-top: 100px;
  max-width: 580px;
  display: grid;
  row-gap: 60px;
  grid-template-rows: minmax(max-content, max-content) minmax(max-content, max-content);
}

.board {
  display: flex;
  justify-content: space-between;
}

.status_lists {
  min-width: 272px;
}

.done_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  color: #00CCCC;
  flex-direction: column;
  flex-wrap: wrap;
  height: 320px;

}

.inprocess_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
  height: 153px;
}