.page {
  display: grid;
  column-gap: 60px;
  grid-template-columns: minmax(max-content, max-content) minmax(max-content, max-content);
  justify-content: center;
  align-self: center;
}

.section {
  overflow-y: scroll;
  max-height: 870px;
  padding-right: 8px;
}

.section::-webkit-scrollbar {
  width: 8px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border: 3px solid #8585AD;
  height: 492px;
}

.section::-webkit-scrollbar-track {
  width: 8px;
  background-color: #2F2F37;
  margin-bottom: 60px;
}

.feed_section {
  width: 608px;
}

@media screen and (max-width: 1920px) {
  .section {
    max-height: 550px;
  }

  .section::-webkit-scrollbar-thumb {
    height: 200px;
  }
}